<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Posts</title>
    <link rel="stylesheet" href="../../public/css/gestion.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="../../view/view_etudiants/accueil.php">Accueil</a></li>
        <li><a href="../../view/view_etudiants/qui-sommes-nous.html">Qui sommes-nous ?</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Gestion des Posts</h1>
    <div class="button-container">
        <a href="../../view/view_post/creation.php" class="button">Créer un Post</a>
        <a href="../../view/view_post/post.php" class="button">Voir Mes Posts</a>
    </div>
</div>
</body>
</html>