<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès Refusé</title>
    <link rel="stylesheet" href="../../public/css/notAccpeted.css">
</head>
<body>
    <div class="container">
        <div class="message-box">
            <h1>Accès Refusé</h1>
            <p>Si vous êtes sur cette page, cela signifie que vous n'avez pas encore été accepté par l'administrateur. </p>
            <p>Sinon ne jouez pas au hacker du coin svp et venez vous inscrire.</p>
            <div class="buttons">
                <a href="https://duckduckgo.com/" class="btn google" >Partir</a>
                <a href="../inscription.php" class="btn signup">S'inscrire</a>
            </div>
        </div>
    </div>
</body>
</html>
