<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Connexion | SchumanConnect</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h1>Connexion</h1>
            <form id="login-form" method="post" action="../controller/LoginUsersController.php">
                <!-- Email -->
                <label for="email">Email</label>
                <input name="email" type="email" id="email" placeholder="exemple@domaine.com" required>

                <!-- Mot de passe -->
                <label for="password">Mot de passe</label>
                <input name="password" type="password" id="password" placeholder="Votre mot de passe" required>

                <!-- Bouton de connexion -->
                <button name="login" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</body>
</html>
